httpx
requests
fastapi
uvicorn
python-dotenv
supabase
fastapi

openai==2.8.1
openai-agents==0.5.0
langchain
langchain-openai
langgraph-checkpoint-redis
redis

langfuse
supabase
pydantic>=2.9.0
colorlog
boto3

